body{
	background-color:#467AC7;
	margin:0px;
}

#titre {
	margin-top:1vh;
	margin-left:50vw;
	transform:translateX(-50%);
	text-align:center;
	width:30vw;
	height:10vh;
	line-height:10vh;
	background-color:#23AFBF;
	font-size:4vh;
	border:1px black solid;
	box-shadow:3px 3px 3px;
}

#container {
	display:flex;
	flex-direction:raw;
	justify-content: space-evenly;
	align-items:center;
	margin-top:1vh;
	margin-left:50vw;
	transform:translateX(-50%);	
	width:96vw;
	height:86vh;	
	background-color:#23AFBF;
	border:1px black solid;
	box-shadow:3px 3px 3px;
}

#plateau {
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:center;	
	width:77vw;
	height:84vh;
	background-color:#23AFBF;	
}

#grille {
	display:flex;
	flex-direction:raw;
	justify-content:space-evenly;
	align-items:center;
	width:77vw;
	height:77vh;
	background-color:#CCCCCC;	
}

#registre {
	width:77vw;
	height:6vh;
	background-color:#CCCCCC;	
	display:flex;
	flex-direction:raw;
	justify-content:space-evenly;
	align-items:center;
}

.ensembleregistre {
	border:1px black solid;
	width:3vw;
	height:3vh;
	text-align:center;
	line-height:3vh;
}

.positionregistre {
	display:flex;
	flex-direction:raw;
	width:10vw;
	justify-content:space-evenly;
	align-items:center;
}

#interactivite {
	display:flex;
	flex-direction:column;
	justify-content: space-between;
	align-items:center;	
	width:16vw;
	height:84vh;
	background-color:#23AFBF;		
}

#formulaire {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items:center;
	width:16vw;
	height:20vh;
	background-color:#CCCCCC;	
	text-align:center;
}

#instructions {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items:center;
	width:16vw;
	height:50vh;
	background-color:#CCCCCC;
	text-align:center;	
}

#tableau {
	display:flex;
	flex-direction:raw;
	justify-content: space-evenly;
	align-items:center;
	width:16vw;
	height:45vh;
	background-color:#CCCCCC;
	text-align:center;		
}

#mnemo {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items:center;
	width:5vw;
	height:45vh;
	background-color:#CCCCCC;
	text-align:center;	
}

#code {
	display:flex;
	flex-direction:column;
	justify-content: space-evenly;
	align-items:center;
	width:11vw;
	height:45vh;
	background-color:#CCCCCC;
	text-align:center;		
}
#affichage {
	width:16vw;
	height:10vh;
	background-color:#CCCCCC;
	text-align:center;
}

#console {
	display:flex;
	flex-direction:raw;
	justify-content: space-evenly;
	align-items:center;
}	