<html>
	<head>
		<!-- Balise qui sert à définir l'encodage des caractères -->
		<meta charset="utf-8" />
		<!-- Balise qui sert à définir le nom de l'onglet. -->
		<title>Formulaire NSI</title>
		<!-- Balise qui sert à faire le lien avec le fichier CSS -->
		<link href="css/style.css" rel="stylesheet" type="text/css" media="screen"/>
	</head>

	<body>
		<img id = "clientserveur" src = "donnees/imageclientserveur.png"/>
	</body>
</html>