body {
	margin: 0px;
	background-image: url(../donnees/fond2.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#titre {
	margin-top:2vh;
	width: 30vw;
	height: 10vh;
	margin-left: 50vw;
	transform: translateX(-50%);
	background-color: rgba(41, 212, 182, 0.8);
	line-height: 10vh;
	text-align: center;
	font-size: 5vh;
}

#formule {
	margin-left: 50vw;
	transform: translateX(-50%);
	margin-top: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: rgba(41, 212, 182, 0.8);
	height: 35vh;
	width: 25vw;
	border-radius: 5px;
}

#clientserveur {
	margin-left: 20vw;
	width: 60vw;
	margin-top: 10vh;
}